<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- This will only work on local machine, for this to work on server in needs to be set up there and changed to
    a live setting-->
    <add key ="HelloWorld_WebAPI"
         value="http://localhost:64507/api"/>
  </appSettings>
</configuration>